<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partial/head") %>
</head>

<body class="bg-gray-100 cursor-default">
    <%- include("./partial/sidebar",{sidebarCategories:sidebarCategories}) %>
        <main class="sm:ml-64 p-6 min-h-screen bg-sky-700 text-white">
            <div class="flex-grow xl:container mx-auto mb-12">
                <section class="p-3 sm:p-5 md:p-8 min-h-screen">
                    <h1 class="text-2xl text-bold font-medium my-4 capitalize">Contact Us</h1>
                    <div class="border shadow-xl p-3 rounded-lg">
                        <div class="mb-5">
                            <p class="mb-2">
                                We love hearing from our users! Whether you have questions, feedback, or just want to
                                say
                                hello, there are several ways to connect with us. </p>
                            <p>Feel free to reach out to us at any time. Our team is always here to assist you and
                                ensure
                                you have the best experience possible with Web Gamer. </p>
                        </div>

                        <form action="/contact-us" method="post"
                            class="max-w-md mx-auto border shadow-xl p-4 rounded-lg mb-4 mt-10">
                            <div class="mb-5">
                                <label for="subject"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Subject</label>
                                <input type="text" id="subject" name="subject"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Enter Subject" />
                            </div>

                            <div class="mb-5">
                                <label for="email"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                                <input type="email" id="email" name="email"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Enter Email" />
                            </div>

                            <div class="mb-5">
                                <label for="message"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Message</label>
                                <textarea id="message" rows="4" name="message"
                                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Enter message"></textarea>
                            </div>
                            <button type="submit"
                                class="text-white bg-blue-900 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                        </form>

                    </div>
                </section>
            </div>
        </main>
        <%- include("./partial/footer") %>
</body>

</html>