<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partial/head") %>
</head>

<body>
    <%- include("./partial/navbar") %>
        <%- include("./ads/1") %>
            <div class="flex-grow xl:container mx-auto mb-12">
                <section class="p-3 sm:p-5 md:p-8 min-h-screen">
                    <h1 class="text-2xl text-bold font-medium my-4 capitalize">term of use</h1>
                    <div class="border shadow-xl p-3 rounded-lg">
                        <div class="mb-5">
                            <p class="mb-2">
                                Welcome to web gamer!
                            </p>
                            <p>
                                These Terms and Conditions govern your use of the web gamer website (the "Website") and
                                all
                                content,
                                products, and services provided by web gamer (collectively referred to as the
                                "Service"). By
                                accessing or using the Service, you agree to be bound by these Terms and Conditions. If
                                you
                                disagree
                                with any part of these terms, then you may not access the Service.
                            </p>
                        </div>
                        <div class="my-5 my-md-4">
                            <h3 class="my-1 text-xl font-bold">
                                1. Intellectual Property
                            </h3>
                            <p>
                                The Service and its original content, features, and functionality are owned by web gamer
                                and
                                are
                                protected by international copyright, trademark, patent, trade secret, and other
                                intellectual
                                property or proprietary rights laws.
                            </p>
                        </div>

                        <div class="my-5 my-md-4">
                            <h3 class="my-1 text-xl font-bold">
                                2. User Accounts
                            </h3>
                            <p>
                                To access certain features of the Service, you may be required to create an account. You
                                agree
                                to provide accurate, current, and complete information when creating or updating your
                                account.
                                You are responsible for maintaining the confidentiality of your account and password and
                                for
                                restricting access to your computer or device. You agree to accept responsibility for
                                all
                                activities that occur under your account or password.
                            </p>
                        </div>

                        <div class="my-5 my-md-4">
                            <h3 class="my-1 text-xl font-bold">
                                3. User Content
                            </h3>
                            <p>
                                You retain ownership of any content you submit, post, or display on or through the
                                Service
                                ("User Content"). However, by submitting, posting, or displaying User Content, you grant
                                web
                                gamer a non-exclusive, royalty-free, worldwide, irrevocable, and sub-licensable license
                                to
                                use,
                                reproduce, adapt, distribute, publish, publicly perform, publicly display, and otherwise
                                exploit
                                such User Content.
                            </p>
                        </div>

                        <div class="my-5 my-md-4">
                            <h3 class="my-1 text-xl font-bold">
                                4. Prohibited Conduct
                            </h3>
                            <p>
                                You agree not to engage in any of the following prohibited activities:
                            </p>
                            <p>
                                Use the Service for any illegal purpose or in violation of any local, state, national,
                                or
                                international law.
                            </p>
                            <p>
                                Violate, or encourage others to violate, any right of a third party, including by
                                infringing
                                or
                                misappropriating any third-party intellectual property right.
                            </p>
                            <p>
                                Interfere with security-related features of the Service, including by disabling or
                                circumventing
                                features that prevent or limit use or copying of any content.
                            </p>
                            <p>
                                Modify, adapt, translate, reverse engineer, decompile, or disassemble any portion of the
                                Service.
                            </p>
                        </div>

                        <div class="my-5 my-md-4">
                            <h3 class="my-1 text-xl font-bold">
                                5. Limitation of Liability
                            </h3>
                            <p>
                                In no event shall web gamer, nor its directors, employees, partners, agents, suppliers,
                                or
                                affiliates, be liable for any indirect, incidental, special, consequential, or punitive
                                damages,
                                including without limitation, loss of profits, data, use, goodwill, or other intangible
                                losses,
                                resulting from:
                            </p>
                            <p>
                                your access to or use of or inability to access or use the Service.
                            </p>
                            <p>
                                any conduct or content of any third party on the Service.
                            </p>
                            <p>
                                any content obtained from the Service.
                            </p>
                        </div>

                        <div class="my-5 my-md-4">
                            <h3 class="my-1 text-xl font-bold">
                                6. Governing Law
                            </h3>
                            <p>
                                These Terms shall be governed and construed in accordance with the laws of India,
                                without
                                regard
                                to its conflict of law provisions.
                            </p>
                        </div>

                        <div class="my-5 my-md-4">
                            <h3 class="my-1 text-xl font-bold">
                                7. Changes to Terms
                            </h3>
                            <p>
                                Web gamer reserves the right, at its sole discretion, to modify or replace these Terms
                                at
                                any
                                time. If a revision is material, we will provide at least 30 days' notice prior to any
                                new
                                terms
                                taking effect. What constitutes a material change will be determined at our sole
                                discretion.
                            </p>
                        </div>

                        <div class="my-5 my-md-4">
                            <h3 class="my-1 text-xl font-bold">
                                8. Changes to Terms
                            </h3>
                            <p>
                                If you have any questions or concerns regarding these Terms and Conditions, please
                                contact
                                us at
                                <span class="text-primary">
                                    gaminggalaxys.tech@gmail.com
                                </span>
                            </p>
                        </div>
                    </div>
                </section>
            </div>
            <%- include("./partial/footer") %>
</body>

</html>