<button onclick="window.scrollTo({top: 0, behavior: 'smooth'});"
    class="fixed bottom-6 right-6 bg-white text-[#184d6d] rounded-full shadow-lg flex flex-col items-center px-2 py-2 border-2 border-[#184d6d] hover:bg-yellow-300 transition"
    aria-label="Chat on WhatsApp">
    <i class="fa-solid fa-arrow-up text-xl px-1"></i>
</button>