<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partial/head", { title: "Games List" }) %>
</head>

<body class="bg-gray-100 dark:bg-gray-900 font-sans bg-cover bg-center">
    <!-- Sidebar -->
    <%- include("../partial/sidebar") %>
        <!-- Main Content -->
        <div class="ml-0 md:ml-64 flex flex-col min-h-screen">
            <!-- Header -->
            <%- include("../partial/header") %>
                <!-- Main Content Area -->
                <div class="container mx-auto py-8 mt-5">
                    <div class="flex flex-col shadow-md mb-5 bg-white rounded-lg p-3">
                        <h1 class="text-4xl font-extrabold mb-4 text-gray-900 dark:text-white">
                            Games List
                        </h1>
                        <nav class="flex mb-4" aria-label="Breadcrumb">
                            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                                <li class="inline-flex items-center">
                                    <a href="/admin"
                                        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                                        <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10 3.172L17.071 10.243 16.364 10.95 10 4.586 3.636 10.95 2.929 10.243 10 3.172z">
                                            </path>
                                        </svg>
                                        Home
                                    </a>
                                </li>
                                <li aria-current="page">
                                    <div class="flex items-center">
                                        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10 3.172l7.071 7.071-1.414 1.414L10 4.586l-5.657 5.657-1.414-1.414L10 3.172z">
                                            </path>
                                        </svg>
                                        <span
                                            class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Games
                                            List</span>
                                    </div>
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="container shadow-lg bg-white rounded-lg mx-auto px-4 sm:px-8">
                        <!-- Create Button -->
                        <div class="container text-right">
                            <a href="/admin/games/create"
                                class="inline-flex items-center px-4 my-2 py-2 bg-blue-500 border border-transparent rounded-md shadow-sm text-base font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                Create Games
                            </a>
                        </div>
                        <div class="py-8">
                            <div class="overflow-x-auto">
                                <table id="listTable" class="min-w-full bg-white border border-gray-200 rounded-lg">
                                    <thead style="background-color: #1f2937">
                                        <tr>
                                            <th
                                                class="px-4 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                                Actions
                                            </th>
                                            <th
                                                class="px-4 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                                ID
                                            </th>
                                            <th
                                                class="px-4 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                                Category Name
                                            </th>
                                            <th
                                                class="px-4 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                                Title
                                            </th>
                                            <th
                                                class="px-4 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                                Slug
                                            </th>
                                            <th
                                                class="px-4 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                                logo
                                            </th>
                                            <th
                                                class="px-4 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                                banner
                                            </th>
                                            <th
                                                class="px-4 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                                Shorting
                                            </th>
                                            <th
                                                class="px-4 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                                Status
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Footer -->
        <%- include("../partial/footer") %>

            <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <!-- DataTables JS -->
            <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
            <!-- SweetAlert2 JS -->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

            <script>
                $(document).ready(function () {
                    let table = $("#listTable").DataTable({
                        processing: true,
                        serverSide: true,
                        ajax: function (data, callback, settings) {
                            let page = Math.floor(settings._iDisplayStart / settings._iDisplayLength) + 1;
                            let limit = settings._iDisplayLength;
                            let search = data.search.value;

                            let order = settings.aaSorting[0] ? settings.aaSorting[0][1] : "desc";
                            let columnIndex = settings.aaSorting[0] ? settings.aaSorting[0][0] : 0;
                            let columns = [null, "id", null, "title", "slug", "logo", "banner", "status"];
                            let column = columns[columnIndex] || "id";
                            $.ajax({
                                url: "/admin/games/list",
                                type: "GET",
                                data: { page, limit, search, order, column },
                                success: function (response) {
                                    callback({
                                        draw: settings.iDraw,
                                        recordsTotal: response.pagination.totalItems,
                                        recordsFiltered: response.pagination.totalItems,
                                        data: response.data,
                                    });
                                },
                                error: function () {
                                    Swal.fire("Error", "Failed to load data.", "error");
                                },
                            });
                        },
                        columns: [
                            {
                                data: null,
                                render: function (data, type, row) {
                                    return ` <a href="/admin/games/${row.id}/edit" class="text-blue-500 hover:text-blue-700"><i class="fa fa-edit"></i></a>
                                <button class="delete-btn text-red-500 hover:text-red-700" data-id="${row.id}"><i class="fa fa-trash"></i></button>`;
                                },
                                orderable: false
                            },
                            { data: "id" },
                            {
                                data: null,
                                render: function (data, type, row) {
                                    return row?.mainCategory?.name;
                                }
                            },
                            {
                                data: "title",
                                render: function (data, type, row) {
                                    if (!data) return "No logo";
                                    return `<a href="${row.game_url}">${data}</a>`;
                                }
                            },
                            { data: "slug" },
                            {
                                data: "logo",
                                render: function (data, type, row) {
                                    if (!data) return "No logo";
                                    return `<img src="${data}" alt="logo" class="w-20"/>`;
                                }
                            },
                            {
                                data: "banner",
                                render: function (data, type, row) {
                                    if (!data) return "No banner";
                                    return `<img src="${data}" alt="banner" class="w-20"/>`;
                                }
                            },
                            { data: "shorting" },
                            {
                                data: "status",
                                render: function (data, type, row) {
                                    return `<input type="checkbox" class="status-checkbox" data-id="${row.id}" ${data === "Active" ? "checked" : ""} />`;
                                },
                            },
                        ],
                        order: [[1, "desc"]],
                    });

                    $(document).on("click", ".delete-btn", function () {
                        const deleteId = $(this).data("id");
                        Swal.fire({
                            title: "Are you sure?",
                            text: "You won't be able to revert this!",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Yes, delete it!",
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $.ajax({
                                    url: `/admin/games/delete/${deleteId}`,
                                    type: "POST",
                                    success: function (response) {
                                        Swal.fire({
                                            icon: "success",
                                            title: "Deleted!",
                                            text: response.message,
                                            showConfirmButton: false,
                                            timer: 1000,
                                        });
                                        setTimeout(() => { table.ajax.reload(); }, 1000);
                                    },
                                    error: function (xhr) {
                                        Swal.fire("Error", xhr.responseJSON?.message || "Something went wrong!", "error");
                                    },
                                });
                            }
                        });
                    });

                    $(document).on("change", ".status-checkbox", function () {
                        const id = $(this).data("id");
                        const isChecked = $(this).is(":checked");
                        $.ajax({
                            type: "POST",
                            url: "/admin/games/changestatus/" + id,
                            data: { status: isChecked ? "Active" : "Inactive" },
                            success: function (response) {
                                Swal.fire({
                                    icon: "success",
                                    title: "Status Updated",
                                    text: response.message || "Record status updated successfully!",
                                    showConfirmButton: false,
                                    timer: 1000,
                                });
                            },
                            error: function (xhr) {
                                Swal.fire({
                                    icon: "error",
                                    title: "Error",
                                    text: xhr.responseJSON?.message || "Something went wrong!",
                                });
                            },
                        });
                    });
                });
            </script>
</body>

</html>