<div class="text-center mx-auto overflow-hidden my-3">
    <center class="adsFirst">
        <div style="font-size:12px; color:black; margin-bottom:4px;">SPONSORED</div>
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1968935214221292"
            crossorigin="anonymous"></script>
        <!-- game1 -->
        <ins id="adsFirst" class="adsbygoogle" style="display:block;" data-ad-client="ca-pub-1968935214221292"
            data-ad-slot="4167064380" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                (adsbygoogle = window.adsbygoogle || []).push({});

                const refreshAd = () => {
                    const adSlot = document.getElementById('adsFirst');
                    if (adSlot) {
                        adSlot.remove();
                        const newAdSlot = document.createElement('ins');
                        newAdSlot.className = 'adsbygoogle';
                        newAdSlot.id = 'adsFirst';
                        newAdSlot.style.display = 'block';
                        newAdSlot.setAttribute('data-ad-client', 'ca-pub-1968935214221292');
                        newAdSlot.setAttribute('data-ad-slot', '4167064380');
                        newAdSlot.setAttribute('data-ad-format', 'auto');
                        newAdSlot.setAttribute('data-full-width-responsive', 'true');
                        document.querySelector('.adsFirst').appendChild(newAdSlot);
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    }
                };
                refreshAd();
                setTimeout(() => {
                    const adSlot = document.getElementById('adsFirst');
                    const notFilled = adSlot && adSlot.getAttribute('data-ad-status') !== 'filled';
                    if (notFilled) {
                        refreshAd();
                    }
                }, 6000);
            });
        </script>
    </center>
</div>