<div class="text-center mx-auto overflow-hidden my-3">
    <center class="adsThird">
        <div style="font-size:12px; color:black; margin-bottom:4px;">SPONSORED</div>
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1968935214221292"
            crossorigin="anonymous"></script>
        <!-- a3 -->
        <ins id="adsThird" class="adsbygoogle" style="display:block;" data-ad-client="ca-pub-1968935214221292"
            data-ad-slot="2265188720" data-ad-format="autorelaxed"></ins>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                (adsbygoogle = window.adsbygoogle || []).push({});

                const refreshAd = () => {
                    const adSlot = document.getElementById('adsThird');
                    if (adSlot) {
                        adSlot.remove();
                        const newAdSlot = document.createElement('ins');
                        newAdSlot.className = 'adsbygoogle';
                        newAdSlot.id = 'adsThird';
                        newAdSlot.style.display = 'block';
                        newAdSlot.setAttribute('data-ad-client', 'ca-pub-1968935214221292');
                        newAdSlot.setAttribute('data-ad-slot', '2265188720');
                        newAdSlot.setAttribute('data-ad-format', 'autorelaxed');
                        document.querySelector('.adsThird').appendChild(newAdSlot);
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    }
                };

                refreshAd();

                setTimeout(() => {
                    const adSlot = document.getElementById('adsThird');
                    const notFilled = adSlot && adSlot.getAttribute('data-ad-status') !== 'filled';
                    if (notFilled) {
                        refreshAd();
                    }
                }, 6000);
            });
        </script>
    </center>
</div>